@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Poppins', sans-serif;
}

.active {
    font-weight: 700;
}

a {
    text-decoration: none;
}
ul{
    list-style: none;
}
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

/* header */
header {
    background-color: #fff;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);
    position: sticky;
    top: 0;
    z-index: 9;
}

header .container {
    width: calc(100% - 300px);
    margin: auto;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

header .logo a {
    font-size: 14px;
    font-weight: 700;
    color: #545BE8;
    font-family: 'Roboto', sans-serif;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    gap: 40px;
}
header nav ul a {
    color: #101928;
    font-size: 16px;
}

header .auth {
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

header .auth .log {
    border-radius: 10px;
    border: 1px solid #545BE8;
    padding: 13px 49px;
}

header .auth .log a {
    color: #545BE8;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

header .auth .reg {
    border-radius: 10px;
    background: #545BE8;
    padding: 13px 49px;

}

header .reg a {
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
}
/* footer */
footer{
    background-color: #393E46;
}
footer .container {
    width: calc(100% - 300px);
    margin: auto;
}
footer .row{
    padding: 60px 0;
    gap: 40px;
}
.leftfooter , .rightfooter {
    width: calc((100% - 40px)/2)
}
.logofooter{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}
.logofooter a {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.leftfooter p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: var(--light, #F4F4F4);
    padding: 24px 0;
}
footer .iconfooter ul {
    display: flex;
    flex-wrap: wrap;

    list-style: none;
    gap: 16px;
}
footer .iconfooter  svg{
    width: 20px;
    height: 20px;
    border: 1px solid #FFF;
    padding: 5px;
    box-sizing: content-box;
}
footer .rightfooter .row{
    gap: 43px;
}
.rightfooteritem{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

footer .rightfooter h2{
    margin-bottom: 10px;
    color: #FFF;
    font-size:16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
footer .rightfooter ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 4.18px;
}


footer .rightfooter ul a {
    
    color: #FFF;
    font-size:14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    
}

